body {
    color: black;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin: 0 5rem;
}

.board {
    padding: 4rem 4rem;
    
    display: grid;
    grid-template-rows: repeat(3, 3rem);
    gap: 2rem;

    background-color: rgb(221, 221, 221);;
}

.cell-row {
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    gap: 2rem;
    justify-content: center;
}

.cell {
    width: 4rem;
    height: 4rem;

    font-size: 24px;
    text-align: center;
    font-weight: bold;
    border: 5px solid orange;
}

.cell:disabled {
    color: black;
}

#reset-game {
    font-weight: bold;
    padding: 0.5rem 4rem;
}